user]
        name = YourName
        email = your@email.com
[alias]
        rb = !"f() { NL=$1; GIT_EDITOR=\"sed -i '2,$NL s/pick/squash/;/# This is the 2nd commit message:/,$ {d}'\"; git rebase -i HEAD~$NL; }; f"
        whatsnew = log HEAD..@{u}
        notpushed = log @{u}..HEAD
        mungify = rebase -i @{u}
        rearrange = rebase -i @{u}
        logdrop = log --oneline --abbrev-commit --decorate
        logg = log --graph --date=iso
        logd = log --pretty=full --date=iso
        lg = log -10
        lgf = log
        ad = add
        br = branch
        brc = checkout -b
        cm = commit -am
        co = checkout
        df = diff
        sh = stash
        st = status
[color]
        ui = true
[core]
        editor = vim
[merge]
        tool = vimdiff
[push]
        default = upstream
